@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    background: #181C14;
    padding: 10px ;
}

.logo img{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
}

.search{
    position: absolute;
    right: 10%;
    top: 48%;
    transform: translateY(-50%);
}
.search input {
    padding: 1px 15px;
    border: none;
    border-radius: 20px;
    font-size: 1em;
    background-color: #3C3D37;
    color: #181C14;
    width: 400px;
}

.search-icon {
    position: absolute;
    right: 15px; 
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.2em; 
    color: #ECDFCC; 
    pointer-events: none; 
}

.account ion-icon {
    position: absolute;
    right: 15px;
    top: 30%;
    font-size: 1.2em; 
    color: #ECDFCC;
}

.cart{
    position: absolute;
    right: 60px;
    top: 30%;
    font-size: 1.2em; 
    color: #ECDFCC;
}

.menu ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;     
    margin-bottom: 5px; 
    margin-left: -100%;
}

.menu ul li {
    list-style: none;
    margin: 10px 20px; 
}

.menu ul li a {
    position: relative;
    display: block;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em; 
    color: #ECDFCC;
    font-weight: 700;
    transition: 0.5s;
    transition-delay: 0.5s;
}

.menu ul li a:hover {
    color: rgba(255,255,255,0.1);
    transition-delay: 0s;
}

.menu ul li a:before {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    z-index: 1;
    text-align: center;
    font-size: 0.35em;
    color: #3bffe8;
    text-shadow: 0 0 10px #3bffe8, 0 0 30px #3bffe8, 0 0 80px #3bffe8;
    font-weight: 500;
    letter-spacing: 40px;
    opacity: 0;
    transition: 0.5s;
}

.menu ul li:hover a:before {
    opacity: 1;
    transition-delay: 0.5s;
    letter-spacing: 6px;
}

.cart ion-icon{
    color: #ECDFCC; 
    transition: all 0.3s ease-in-out;
}

.cart ion-icon:hover {
    color: #3bffe8; 
}

.account ion-icon{
    color: #ECDFCC; 
    transition: all 0.3s ease-in-out;
}

.account ion-icon:hover {
    color: #3bffe8; 
}

footer{
    display: flex;
    justify-content: space-between; 
    padding: 20px;
    background-color: #ECDFCC;
}

.texto-footer a,.redes a{
    text-decoration: none;
    color: inherit;
    justify-content: center;
}

.redes ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.redes ul li {
    font-size: 25px;
    padding: 0 10px;
}

.texto-footer ul,.contacto ul{
    list-style: none;
}



